<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Elterium landing page"/>
    <meta name="keywords" content="Elterium, music, Instrumental rock, instrumental, rock, iTunes, Google Play, Amazon"/>
    <meta name="robots" content="index, follow"/>
    <meta name="author" content="Roman Sotnikov"/>

    <title><%= title %></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/vendor/magnific-popup.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

    <script src="/js/vendor/modernizr-2.6.1.min.js"></script>
    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="/js/main.js"></script>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=422989191054100";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container" role="main">
      <div class="header">
        <div class="index-logo-wrapper">
          <img src="/img/elterium.svg" class="main-logo" alt="Elterium logo"/>
        </div>
        <ul class="nav nav-pills">
          <li>
            <a class='<%= active_class("") %>' href="/">Home</a>
          </li>
          <li>
            <a class='<%= active_class("band") %>'href="/band">Band</a>
          </li>

          <li>
            <a class='<%= active_class("music") %>' href="/music">Music</a>
          </li>

          <li>
            <a class='<%= active_class("photos") %>' href="/photos">Photos</a>
          </li>

          <li>
            <a class='<%= active_class("videos") %>' href="/videos">Videos</a>
          </li>
        </ul>
      </div>

      <%= yield %>

      <div class="bottom">
        <div class="fb-like" data-href="https://www.facebook.com/band.indigo.nsk" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
        <div class="tw-share"><a href="https://twitter.com/share" class="twitter-share-button" data-via="retgoat">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
      </div>
    </div> <!-- /container -->
    <!-- Share this start -->
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "b15224eb-218a-4a1f-834e-6de5b41d0ba1", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22209072-3', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
