<div class="popup-gallery">

  <% @data.select { |el| %w[image carousel].include?(el["type"]) && el["videos"] == nil }.each do |picture| %>
    <% title = picture.dig("caption", "text") %>
    <% if picture["carousel_media"].present? %>
      <% picture["carousel_media"].each do |carousel_image| %>
        <a href="<%= carousel_image.dig("images", "standard_resolution", "url") %>" title="<%= title %>">
          <img class="img-rounded" alt="Photo" src="<%= carousel_image.dig("images", "standard_resolution", "url") %>" style="width: 200px; height: 200px; margin: 10px">
        </a>
      <% end %>
    <% else %>
      <a href="<%= picture.dig("images", "standard_resolution", "url") %>" title="<%= title %>">
        <img class="img-rounded" alt="Photo" src="<%= picture.dig("images", "standard_resolution", "url") %>" style="width: 200px; height: 200px; margin: 10px">
      </a>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.popup-gallery').magnificPopup({
      delegate: 'a',
      type: 'image',
      tLoading: 'Loading image #%curr%...',
      mainClass: 'mfp-img-mobile',
      gallery: {
        enabled: true,
        navigateByImgClick: true,
        preload: [0,1] // Will preload 0 - before current, and 1 after the current image
      },
      image: {
        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
        titleSrc: function(item) {
          var title = item.el.attr('title');

          if (title != undefined) {
            return title + '<small>by Elterium</small>';
          }

          return '<small>by Elterium</small>';
        }
      }
    });
  });
</script>
